body {
    max-width: 970px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

p {
    width: 60%;
}

h1, h2, h3{
    font-family: 'Playfair Display', serif;
}

.cabecalho h1{
    margin-top: 48px;
    font-weight: 700;
}

.cabecalho .dots{
    display: none;
}

.cabecalho .cake {
    background: url('../images/photo1.png') center center no-repeat;
    background-size: 100%;
    width: 100%;
    height: 470px;
}

.cabecalho .description {
    margin: 12px 0px 17px 24px;
    width: 60%;
    text-align: justify;
    font-size: 14px;
    font-style: italic;
    line-height: 17px;
}

.preparation {
    position: relative;
}

.preparation .ingredients h2 {
    margin-top: 48px;
    font-weight: 700;
    font-size: 24px;
}

.preparation .ingredients h3 {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-top: 32px;
}

.preparation .ingredients ul li {
    position: relative;
    line-height: 25px;
}

.preparation .ingredients ul li input {
    float: left;
    width: 21px;
    height: 21px;
    left: 0;
}

.preparation .ingredients h3 {
    padding-bottom: 31px;
}

.preparation .ingredients p{
    display: inline-block;
    font-size: 16px;
    padding-left: 17px;
}

.preparation .ingredients .text-bold {
    font-weight: 700;
}

.instructions h2 {
    margin: 28px 0px;
    font-size: 24px;
    font-weight: 700;
}


.custom-counter {
    list-style-type: none;  
    counter-reset: cachorro;
}

.custom-counter li {
    counter-increment: cachorro;
    position: relative;
    margin-bottom: 30px;
}

.custom-counter li::before {
    content: counter(cachorro);
    position: absolute;
    text-align: center;
    width: 36px;
    height: 36px;

    font-family: 'Playfair Display', serif;
    font-size: 24px;
    background-color: #F2994A;
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
}

.custom-counter p{
    margin-left: 45px;
}

.preparation .prep-time {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 216px;
    height: 367px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.preparation .prep-time ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}

.preparation .prep-time li {
    display: flex;
    font-size: 10px;
    margin-bottom: 20px;
    width: 80px;    
    white-space: nowrap;
}



.preparation .prep-time .prep-1 span,.preparation .prep-time .prep-1 .servings {
    color: #F2994A;
}

.preparation .prep-time p{
    font-size: 14px;
    font-weight: 500;
}

.preparation .prep-time .prep-up {
    font-weight: 700;
    font-size: 10px;
    color: #bdbdbd;
}

.material-symbols-outlined {
    margin-right: 13px;
}